.reserve{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

    .modal-header{
        background-color: #082877;
        height: 25px;
        padding: 10px;
        color: white;
    }

    .r-container{
        background-color: white;
        // padding: 20px;
        position: relative;
        width: 550px;
        height: 450px;
        overflow-y: scroll;
        border-radius: 15px;

        &::-webkit-scrollbar {
            display: none;
          }
          

      
        .r-close{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            height: 25px;
            width: 25px;
            padding: 10px;
        }

        .r-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
            padding: 20px;

            .r-itemInfo{
                display: flex;
                flex-direction: column;
                gap: 5px;

                .r-title{
                    font-weight: 500;
                }

                .r-desc{
                    font-weight: 300;
                }

                .r-max{
                    font-size: 12px;
                }

                .r-price{
                    font-weight: 500;
                }
            }

            .r-selectRooms{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                font-size: 8px;
                color: gray;

                .check-label{
                    font-size: 16px;
                    margin-left: 1px;

                }
                .checkbox{
                    height: 25px;
                    width: 25px;
                    margin-left: 1px;
                }
                .room{
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        button{
            border: none;
            padding: 10px 20px;
            background-color: #368fd8;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
       

        
        }
    }
}